.main{
  margin-top: 5%;
}

.App {
  text-align: center;
}

input {
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
  /* border: 1px solid #000; */
  outline: none;
  /* border-radius: 5px; */
  color: #000;
  /*   border-bottom: none; */
}

.optionWrapper {
  margin-top: '55px'; 
  max-height: '100px';
  height: 'auto';
  z-index: 9999;
  border: '1px solid #000';
  background-color: 'white';
  position: 'absolute';
  overflow: 'scroll';
  width: '40%';
}

.option {
  cursor: 'pointer';
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.option:hover {
  background-color: #1d90ff;
}

.active {
  background-color: #1d90ff;
  cursor: 'pointer';
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 700;
}

